<p>Various gameplay and UI tweaks including menu hotkeys, no pause when menus are up and much more.</p>
<p class="bold center">Requires OpenMW 0.49 or newer!</p>
<div class="center">
  <img src="/img/ui-modes.gif" title="The mod in action" />
</div>
<p>
  Features (each feature can be separately enabled or disabled in mod settings):
</p>
<ul>
  <li>
    Separate UI pages for Map, Spells, Stats, Journal
  </li>
  <li>
    Skyrim-like widget to choose the page (controls: mouse, movement keys, controller DPad)
  </li>
  <li>
    Key bindings ‘M’ (Map), ‘C’ (Stats), ‘I’ (Inventory)
  </li>
  <li>
    Attack button (left mouse click) automatically prepares the last used weapon/spell.
  </li>
  <li>
    An option to not pause the game in inventory and dialogs.
  </li>
  <li>
    Ability to rotate 3rd person camera in inventory mode and during dialogs (controls: left/right arrow keys, controller right stick).
  </li>
</ul>
<h4 id="install">Installation:</h4>
<ol>
  <li>
    <p>
      Download the mod from <a href="https://modding-openmw.gitlab.io/ui-modes/">this URL</a>
    </p>
  </li>
  <li>
    <p>
      Extract the zip to a location of your choosing, examples below:
    </p>
    <pre><code> # Windows
 C:\games\OpenMWMods\UserInterface\ui-modes

 # Linux
 /home/username/games/OpenMWMods/UserInterface/ui-modes

 # macOS
 /Users/username/games/OpenMWMods/UserInterface/ui-modes
    </code></pre>
  </li>
  <li>
    <p>
      Add the appropriate data path to your <code>opemw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\UserInterface\ui-modes"</code>)
    </p>
  </li>
  <li>
    <p>
      Add the following to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher:
    </p>
    <pre><code>content=UiModes.omwscripts</code></pre>
  </li>
  <li>
    <p>The following window dimensions are recommended (add this to your <code>settings.cfg</code> file, replacing any pre-existing <code>[Windows]</code> section):</p>
    <pre><code>[Windows]
inventory h = 0.70
inventory w = 0.47
inventory x = 0.02
inventory y = 0.18
inventory barter h = 0.70
inventory barter w = 0.47
inventory barter x = 0.02
inventory barter y = 0.18
inventory container h = 0.70
inventory container w = 0.47
inventory container x = 0.02
inventory container y = 0.18
stats h = 0.70
stats w = 0.47
stats x = 0.51
stats y = 0.18
spells h = 0.70
spells w = 0.47
spells x = 0.51
spells y = 0.18
barter h = 0.70
barter w = 0.47
barter x = 0.51
barter y = 0.18
container h = 0.70
container w = 0.47
container x = 0.51
container y = 0.18
map h = 0.8
map w = 0.8
map x = 0.1
map y = 0.1</code></pre>
  </li>
</ol>
